.rightside{
  width:30%;
  height:100%;
  background: #485361;
  text-align: center;
  display:inline-block;
  padding:15px 0;
  color:white;
  .features{
    border-top: 1px solid rgba(145, 150, 156, 0.25);
    margin: 20px 0;
  }
  img{
    border-radius: 50%;
    margin:15px 0;
  }
    h1, p{
      padding:0;
      margin:25px 20px;
    }
    p{
      font-size: 20px;
    }
.features{
  display: inline-block;
  margin: 0 auto;
  margin:0 5px;

  // padding:20px 5px;
  ul{
    list-style: none;
    padding:0;
    position: relative;


    li{
      width:100px;
      height:100px;
      background:#2b3035;
      border-radius:50%;
      padding:15px;
      display: inline-block;
      margin: 0 auto;
      margin:10px 25px;
      text-align: center;
      a{
        color:white;
      }
    }
  }
}
}
