<!-- <div class="map">
  <agm-map [zoom]="15" [latitude]="location.latitude" [longitude]="location.longitude">
    <agm-marker [markerDraggable]="true" [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
  </agm-map>
</div> -->
<div class="map">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search >
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [markerDraggable]="true" [latitude]="latitude" [longitude]="longitude" (dragEnd)="updateMarkerPos($event)"></agm-marker>
  </agm-map>
</div>
